body {
	background-color: #b1bcce;
}

.center {
	text-align: center;
}

.underline {
	text-decoration: underline;
}

.rightJustify {
	text-align: left;
}

.reference {
	text-align: left;
	position: fixed;
	bottom: 5px;
	right: 5px;
	font-size: 10px;
}

#setButton {
	margin-top: 20px;
}